@mixin login_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 390px;
  height: 75px;
  margin-bottom: 10px;
  border-radius: 10px;
  font-size: 16px;
  img {
    position: absolute;
    left: 40px;
    width: 20px;
  }
}

/* 회원가입 */
.join {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 480px;
  height: 480px;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  justify-content: center;
}
.join__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
}
.join__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  .join__facebook--btn {
    background-color: #3e71d6;
    color: #fff;
    @include login_btn;
  }
  .join__google--btn {
    border: 1px solid #d6d2d1;
    background-color: #fff;
    color: #666;
    @include login_btn;
  }
  .join__naver--btn {
    background-color: #00c73c;
    color: #fff;
    @include login_btn;
  }
  .join__kakao--btn {
    background-color: #fae22f;
    color: #fff;
    @include login_btn;
  }
  p {
    width: 360px;
    margin-top: 20px;
    font-size: 16px;
    font-weight: 400;
    line-height: 22rpx;
    span {
      color :#3366cc;
    }
  }
}
.join--closeBtn {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 15px;
  height: 15px;
}