.Select-control {
  cursor: pointer;
  background-color: #fff;
  border-color: none;
  border-radius: 0px;
  border: none;
}
.Select--single:hover, .is-clearable:hover, .is-searchable:hover,
.Select:hover, .Select-placeholder:hover {
  border: none !important;
}
.is-open > .Select-control {
  border-color: none !important;
}
.Select-placeholder {
  margin-top: 10px !important;
  margin-left: 0 !important;
  padding-left: 0;
  font-weight: 300;
  font-size: 19px;
  color: #484848;
}
.Select-clear {
  display: none;
}
.Select-arrow-zone {
  display: none;
}
.Select-control:hover {
  box-shadow: 0;
}
.Select-arrow-zone:hover > .Select-arrow {
  border-top-color: none;
}
.Select-value {
  margin-top: 10px !important;
  margin-left: 0 !important;
  padding-left: 0 !important;
  font-size: 19px;
  font-weight: 300;
  color: #484848;
}